h1{
    text-align:center;
    color:white;
    font-family:Arial, sans-serif;
    margin-top: 50px;

}
body{
    background-color:lightblue;
}
div{
    background-color:blue;
    height:200px;
    display:flex;
    justify-content: center;    
    align-items: center;
    gap: 20px;
    
    
    
}
